<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @*@Styles.Render("~/Content/css")*@
    @Html.CssBundle("~/App_Bundles/Site.css.bundle")
    @*@Scripts.Render("~/bundles/modernizr")*@
    @Html.JavaScriptBundle("~/App_Bundles/modernizr.js.bundle")
</head>
<body>
    @RenderBody()

    @*@Scripts.Render("~/bundles/jquery")*@
    @Html.JavaScriptBundle("~/App_Bundles/Site.js.bundle")
    @RenderSection("scripts", required: false)
</body>
</html>
